In [1]:
import datetime
import pandas as pd
import os

In [2]:
cab_data = [
    "yellow_tripdata_2018-01.csv",
    "yellow_tripdata_2018-02.csv",
    "yellow_tripdata_2018-03.csv"
]

In [3]:
# def get_training_data(raw_data):
#     """
#     input: 
#         raw_data: list of .csv files
    
#     output:
#         list of data useful to training
#         [pickup_time, dropoff_time, trip_distance, PUlocationID, DOlocationID, fare_amt]
    
#     """
#     res = []
#     for file in raw_data:
#         file = os.path.join('data', file)
#         print(file)
#         df = pd.read_csv(file)
#         print(len(df.index))
#         for index, row in df.iterrows():
#             if(index % 10000 == 0):
#                 print(index)
#             res.append({'pickup_time': datetime.datetime.strptime(row['tpep_pickup_datetime'], '%Y-%m-%d %H:%M:%S'),
#                         'dropoff_time': datetime.datetime.strptime(row['tpep_dropoff_datetime'], '%Y-%m-%d %H:%M:%S'),
#                         'trip_distance': int(row['trip_distance']),
#                         'PULocationID': row['PULocationID'],
#                         'DOLocationID': row['DOLocationID'],
#                         'fare_amt': int(row['fare_amount']),
#                         'total_profit': int(row['total_amount'])
#                        })
    
#     return pd.Dataframe(res)

In [4]:
df = pd.read_csv('data/yellow_tripdata_2018-01.csv')

In [5]:
print(len(df.index))

8759874

In [6]:
datetime.datetime.strptime('2018-01-02 12:30:00', '%Y-%m-%d %H:%M:%S').minute

30

In [7]:
df.tpep_pickup_datetime[0][:-3]

'2018-01-01 00:21'

In [8]:
res = []
for index, row in df.iterrows():
    if(index % 10000 == 0):
        print(index)
    
    pickup_datetime = datetime.datetime.strptime(row['tpep_pickup_datetime'], '%Y-%m-%d %H:%M:%S')
    dropoff_datetime = datetime.datetime.strptime(row['tpep_dropoff_datetime'], '%Y-%m-%d %H:%M:%S')
    
    res.append({'pickup_date' : row['tpep_pickup_datetime'][:-3], 
                'pickup_weekday': pickup_datetime.weekday(),
                'pickup_hour': pickup_datetime.hour,
                'pickup_min': pickup_datetime.minute,
                'trip_distance': float(row['trip_distance']),
                'PULocationID': int(row['PULocationID']),
                'fare_amt': float(row['fare_amount']),
                'total_profit': float(row['total_amount'])
               })

0
10000
20000
30000
40000
50000
60000
70000
80000
90000
100000
110000
120000
130000
140000
150000
160000
170000
180000
190000
200000
210000
220000
230000
240000
250000
260000
270000
280000
290000
300000
310000
320000
330000
340000
350000
360000
370000
380000
390000
400000
410000
420000
430000
440000
450000
460000
470000
480000
490000
500000
510000
520000
530000
540000
550000
560000
570000
580000
590000
600000
610000
620000
630000
640000
650000
660000
670000
680000
690000
700000
710000
720000
730000
740000
750000
760000
770000
780000
790000
800000
810000
820000
830000
840000
850000
860000
870000
880000
890000
900000
910000
920000
930000
940000
950000
960000
970000
980000
990000
1000000
1010000
1020000
1030000
1040000
1050000
1060000
1070000
1080000
1090000
1100000
1110000
1120000
1130000
1140000
1150000
1160000
1170000
1180000
1190000
1200000
1210000
1220000
1230000
1240000
1250000
1260000
1270000
1280000
1290000
1300000
1310000
1320000
1330000
1340000
1350000
1360000
1370000
1380000
1390000
1400000
1410000
1420000
1430000
1440000
1450000
1460000
1470000
1480000
1490000
1500000
1510000
1520000
1530000
1540000
1550000
1560000
1570000
1580000
1590000
1600000
1610000
1620000
1630000
1640000
1650000
1660000
1670000
1680000
1690000
1700000
1710000
1720000
1730000
1740000
1750000
1760000
1770000
1780000
1790000
1800000
1810000
1820000
1830000
1840000
1850000
1860000
1870000
1880000
1890000
1900000
1910000
1920000
1930000
1940000
1950000
1960000
1970000
1980000
1990000
2000000
2010000
2020000
2030000
2040000
2050000
2060000
2070000
2080000
2090000
2100000
2110000
2120000
2130000
2140000
2150000
2160000
2170000
2180000
2190000
2200000
2210000
2220000
2230000
2240000
2250000
2260000
2270000
2280000
2290000
2300000
2310000
2320000
2330000
2340000
2350000
2360000
2370000
2380000
2390000
2400000
2410000
2420000
2430000
2440000
2450000
2460000
2470000
2480000
2490000
2500000
2510000
2520000
2530000
2540000
2550000
2560000
2570000
2580000
2590000
2600000
2610000
2620000
2630000
2640000
2650000
2660000
2670000
2680000
2690000
2700000
2710000
2720000
2730000
2740000
2750000
2760000
2770000
2780000
2790000
2800000
2810000
2820000
2830000
2840000
2850000
2860000
2870000
2880000
2890000
2900000
2910000
2920000
2930000
2940000
2950000
2960000
2970000
2980000
2990000
3000000
3010000
3020000
3030000
3040000
3050000
3060000
3070000
3080000
3090000
3100000
3110000
3120000
3130000
3140000
3150000
3160000
3170000
3180000
3190000
3200000
3210000
3220000
3230000
3240000
3250000
3260000
3270000
3280000
3290000
3300000
3310000
3320000
3330000
3340000
3350000
3360000
3370000
3380000
3390000
3400000
3410000
3420000
3430000
3440000
3450000
3460000
3470000
3480000
3490000
3500000
3510000
3520000
3530000
3540000
3550000
3560000
3570000
3580000
3590000
3600000
3610000
3620000
3630000
3640000
3650000
3660000
3670000
3680000
3690000
3700000
3710000
3720000
3730000
3740000
3750000
3760000
3770000
3780000
3790000
3800000
3810000
3820000
3830000
3840000
3850000
3860000
3870000
3880000
3890000
3900000
3910000
3920000
3930000
3940000
3950000
3960000
3970000
3980000
3990000
4000000
4010000
4020000
4030000
4040000
4050000
4060000
4070000
4080000
4090000
4100000
4110000
4120000
4130000
4140000
4150000
4160000
4170000
4180000
4190000
4200000
4210000
4220000
4230000
4240000
4250000
4260000
4270000
4280000
4290000
4300000
4310000
4320000
4330000
4340000
4350000
4360000
4370000
4380000
4390000
4400000
4410000
4420000
4430000
4440000
4450000
4460000
4470000
4480000
4490000
4500000
4510000
4520000
4530000
4540000
4550000
4560000
4570000
4580000
4590000
4600000
4610000
4620000
4630000
4640000
4650000
4660000
4670000
4680000
4690000
4700000
4710000
4720000
4730000
4740000
4750000
4760000
4770000
4780000
4790000
4800000
4810000
4820000
4830000
4840000
4850000
4860000
4870000
4880000
4890000
4900000
4910000
4920000
4930000
4940000
4950000
4960000
4970000
4980000
4990000
5000000
5010000
5020000
5030000
5040000
5050000
5060000
5070000
5080000
5090000
5100000
5110000
5120000
5130000
5140000
5150000
5160000
5170000
5180000
5190000
5200000
5210000
5220000
5230000
5240000
5250000
5260000
5270000
5280000
5290000
5300000
5310000
5320000
5330000
5340000
5350000
5360000
5370000
5380000
5390000
5400000
5410000
5420000
5430000
5440000
5450000
5460000
5470000
5480000
5490000
5500000
5510000
5520000
5530000
5540000
5550000
5560000
5570000
5580000
5590000
5600000
5610000
5620000
5630000
5640000
5650000
5660000
5670000
5680000
5690000
5700000
5710000
5720000
5730000
5740000
5750000
5760000
5770000
5780000
5790000
5800000
5810000
5820000
5830000
5840000
5850000
5860000
5870000
5880000
5890000
5900000
5910000
5920000
5930000
5940000
5950000
5960000
5970000
5980000
5990000
6000000
6010000
6020000
6030000
6040000
6050000
6060000
6070000
6080000
6090000
6100000
6110000
6120000
6130000
6140000
6150000
6160000
6170000
6180000
6190000
6200000
6210000
6220000
6230000
6240000
6250000
6260000
6270000
6280000
6290000
6300000
6310000
6320000
6330000
6340000
6350000
6360000
6370000
6380000
6390000
6400000
6410000
6420000
6430000
6440000
6450000
6460000
6470000
6480000
6490000
6500000
6510000
6520000
6530000
6540000
6550000
6560000
6570000
6580000
6590000
6600000
6610000
6620000
6630000
6640000
6650000
6660000
6670000
6680000
6690000
6700000
6710000
6720000
6730000
6740000
6750000
6760000
6770000
6780000
6790000
6800000
6810000
6820000
6830000
6840000
6850000
6860000
6870000
6880000
6890000
6900000
6910000
6920000
6930000
6940000
6950000
6960000
6970000
6980000
6990000
7000000
7010000
7020000
7030000
7040000
7050000
7060000
7070000
7080000
7090000
7100000
7110000
7120000
7130000
7140000
7150000
7160000
7170000
7180000
7190000
7200000
7210000
7220000
7230000
7240000
7250000
7260000
7270000
7280000
7290000
7300000
7310000
7320000
7330000
7340000
7350000
7360000
7370000
7380000
7390000
7400000
7410000
7420000
7430000
7440000
7450000
7460000
7470000
7480000
7490000
7500000
7510000
7520000
7530000
7540000
7550000
7560000
7570000
7580000
7590000
7600000
7610000
7620000
7630000
7640000
7650000
7660000
7670000
7680000
7690000
7700000
7710000
7720000
7730000
7740000
7750000
7760000
7770000
7780000
7790000
7800000
7810000
7820000
7830000
7840000
7850000
7860000
7870000
7880000
7890000
7900000
7910000
7920000
7930000
7940000
7950000
7960000
7970000
7980000
7990000
8000000
8010000
8020000
8030000
8040000
8050000
8060000
8070000
8080000
8090000
8100000
8110000
8120000
8130000
8140000
8150000
8160000
8170000
8180000
8190000
8200000
8210000
8220000
8230000
8240000
8250000
8260000
8270000
8280000
8290000
8300000
8310000
8320000
8330000
8340000
8350000
8360000
8370000
8380000
8390000
8400000
8410000
8420000
8430000
8440000
8450000
8460000
8470000
8480000
8490000
8500000
8510000
8520000
8530000
8540000
8550000
8560000
8570000
8580000
8590000
8600000
8610000
8620000
8630000
8640000
8650000
8660000
8670000
8680000
8690000
8700000
8710000
8720000
8730000
8740000
8750000

In [9]:
df_output = pd.DataFrame(res)

In [10]:
print(len(df_output.index))

8759874

In [11]:
df_output['PULocationID']

0           41
1          239
2          262
3          140
4          246
5          143
6           50
7          239
8          238
9          170
10         162
11         141
12         137
13         224
14         234
15          13
16          48
17         163
18         229
19         236
20         263
21         239
22          90
23         233
24         161
25         234
26         234
27         142
28         170
29         233
          ...
8759844    234
8759845     68
8759846    209
8759847    211
8759848     43
8759849    158
8759850    231
8759851     90
8759852    148
8759853    161
8759854     88
8759855    142
8759856    138
8759857    230
8759858    100
8759859    138
8759860    186
8759861    238
8759862    151
8759863    238
8759864    137
8759865    163
8759866     43
8759867    234
8759868    230
8759869    158
8759870    163
8759871     74
8759872      7
8759873      7
Name: PULocationID, Length: 8759874, dtype: int64

In [12]:
print(list(df_output.columns.values))

['PULocationID', 'fare_amt', 'pickup_date', 'pickup_hour', 'pickup_min', 'pickup_weekday', 'total_profit', 'trip_distance']

In [42]:
df_reset = df_output.groupby(['pickup_date', 'pickup_hour', 'pickup_min', 'PULocationID', 'pickup_weekday'])['total_profit'].mean().reset_index()

In [43]:
df_reset2 = df_reset[("2018-01-01 00:00" <= df_reset['pickup_date']) & (df_reset['pickup_date'] < "2018-02-01 00:00")].reset_index()

In [44]:
df_reset2

,index,pickup_date,pickup_hour,pickup_min,PULocationID,pickup_weekday,total_profit
0,260,2018-01-01 00:00,0,0,13,0,5.760000
1,261,2018-01-01 00:00,0,0,24,0,14.800000
2,262,2018-01-01 00:00,0,0,37,0,14.800000
3,263,2018-01-01 00:00,0,0,43,0,10.140000
4,264,2018-01-01 00:00,0,0,48,0,17.920000
5,265,2018-01-01 00:00,0,0,50,0,28.300000
6,266,2018-01-01 00:00,0,0,61,0,21.800000
7,267,2018-01-01 00:00,0,0,68,0,8.058333
8,268,2018-01-01 00:00,0,0,79,0,12.550000
9,269,2018-01-01 00:00,0,0,90,0,14.160000
10,270,2018-01-01 00:00,0,0,114,0,8.300000
11,271,2018-01-01 00:00,0,0,132,0,73.200000
12,272,2018-01-01 00:00,0,0,138,0,40.300000
13,273,2018-01-01 00:00,0,0,140,0,14.760000
14,274,2018-01-01 00:00,0,0,141,0,9.300000
15,275,2018-01-01 00:00,0,0,142,0,16.550000
16,276,2018-01-01 00:00,0,0,144,0,9.100000
17,277,2018-01-01 00:00,0,0,158,0,28.950000
18,278,2018-01-01 00:00,0,0,161,0,14.466667
19,279,2018-01-01 00:00,0,0,162,0,22.616667
20,280,2018-01-01 00:00,0,0,164,0,10.575000
21,281,2018-01-01 00:00,0,0,166,0,7.560000
22,282,2018-01-01 00:00,0,0,170,0,15.330000
23,283,2018-01-01 00:00,0,0,186,0,7.050000
24,284,2018-01-01 00:00,0,0,229,0,16.212500
25,285,2018-01-01 00:00,0,0,231,0,27.800000
26,286,2018-01-01 00:00,0,0,232,0,8.300000
27,287,2018-01-01 00:00,0,0,233,0,5.800000
28,288,2018-01-01 00:00,0,0,236,0,6.050000
29,289,2018-01-01 00:00,0,0,237,0,15.550000
...,...,...,...,...,...,...,...
2098355,2098615,2018-01-31 23:59,23,59,112,2,17.800000
2098356,2098616,2018-01-31 23:59,23,59,114,2,5.300000
2098357,2098617,2018-01-31 23:59,23,59,132,2,72.195000
2098358,2098618,2018-01-31 23:59,23,59,137,2,24.375000
2098359,2098619,2018-01-31 23:59,23,59,140,2,8.800000
2098360,2098620,2018-01-31 23:59,23,59,141,2,7.986667
2098361,2098621,2018-01-31 23:59,23,59,142,2,11.800000
2098362,2098622,2018-01-31 23:59,23,59,148,2,15.960000
2098363,2098623,2018-01-31 23:59,23,59,152,2,18.300000
2098364,2098624,2018-01-31 23:59,23,59,158,2,12.338000
2098365,2098625,2018-01-31 23:59,23,59,161,2,14.002500
2098366,2098626,2018-01-31 23:59,23,59,162,2,8.886667
2098367,2098627,2018-01-31 23:59,23,59,163,2,5.800000
2098368,2098628,2018-01-31 23:59,23,59,164,2,14.050000
2098369,2098629,2018-01-31 23:59,23,59,166,2,12.655000
2098370,2098630,2018-01-31 23:59,23,59,170,2,14.493333
2098371,2098631,2018-01-31 23:59,23,59,209,2,11.300000
2098372,2098632,2018-01-31 23:59,23,59,217,2,5.300000
2098373,2098633,2018-01-31 23:59,23,59,230,2,21.847143
2098374,2098634,2018-01-31 23:59,23,59,231,2,18.650000
2098375,2098635,2018-01-31 23:59,23,59,233,2,20.800000
2098376,2098636,2018-01-31 23:59,23,59,234,2,15.244286
2098377,2098637,2018-01-31 23:59,23,59,236,2,6.300000
2098378,2098638,2018-01-31 23:59,23,59,237,2,10.300000
2098379,2098639,2018-01-31 23:59,23,59,238,2,9.450000
2098380,2098640,2018-01-31 23:59,23,59,239,2,11.960000
2098381,2098641,2018-01-31 23:59,23,59,249,2,6.350000
2098382,2098642,2018-01-31 23:59,23,59,261,2,45.805000
2098383,2098643,2018-01-31 23:59,23,59,263,2,7.250000
2098384,2098644,2018-01-31 23:59,23,59,264,2,9.100000

In [160]:
df_output.to_pickle('processed_data.pkl')

In [167]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.svm import SVR
from sklearn.model_selection import train_test_split
import numpy

In [162]:
X = df_output.as_matrix(columns=['pickup_weekday', 'pickup_hour', 'pickup_min','PULocationID'])
y = df_output.as_matrix(columns=['total_profit']).ravel()

/Users/jiaoyangli/venv/lib/python3.5/site-packages/ipykernel_launcher.py:1: FutureWarning: Method .as_matrix will be removed in a future version. Use .values instead.
  """Entry point for launching an IPython kernel.
/Users/jiaoyangli/venv/lib/python3.5/site-packages/ipykernel_launcher.py:2: FutureWarning: Method .as_matrix will be removed in a future version. Use .values instead.

In [163]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

In [165]:
model = RandomForestRegressor(n_estimators=20, verbose=2)
model.fit(X_train, y_train)

building tree 1 of 20

[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:   17.6s remaining:    0.0s

building tree 2 of 20
building tree 3 of 20
building tree 4 of 20
building tree 5 of 20
building tree 6 of 20
building tree 7 of 20
building tree 8 of 20
building tree 9 of 20
building tree 10 of 20
building tree 11 of 20
building tree 12 of 20
building tree 13 of 20
building tree 14 of 20
building tree 15 of 20
building tree 16 of 20
building tree 17 of 20
building tree 18 of 20
building tree 19 of 20
building tree 20 of 20

[Parallel(n_jobs=1)]: Done  20 out of  20 | elapsed:  5.9min finished

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
           max_features='auto', max_leaf_nodes=None,
           min_impurity_split=1e-07, min_samples_leaf=1,
           min_samples_split=2, min_weight_fraction_leaf=0.0,
           n_estimators=20, n_jobs=1, oob_score=False, random_state=None,
           verbose=2, warm_start=False)

In [166]:
r_square = model.score(X_train, y_train)

[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    3.3s remaining:    0.0s
[Parallel(n_jobs=1)]: Done  20 out of  20 | elapsed:   58.4s finished

In [151]:
r_square

0.34874310386118135

In [152]:
r_test = model.score(X_test, y_test)

[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    0.5s remaining:    0.0s
[Parallel(n_jobs=1)]: Done 100 out of 100 | elapsed:   47.6s finished

In [168]:
r_test

0.3538654539472964

In [ ]:
model = SVR(C=1.0, epsilon=0.1, verbose=True)
model.fit(X_train[:10], y_train[:10])

In [ ]:
r_square = model.score(X_train, y_train)

In [ ]:
r_square

In [ ]:
r_test = model.score(X_test, y_test)

In [ ]:
r_test